<div class="container mx-auto px-5 py-5 flex justify-end items-center space-x-5">
  <div>
    Signed in as 
    <%= link_to current_user.email, edit_current_user_path, class: 'font-bold' %>
  </div>
  <div>
    <%= button_to "Sign out", session_path, method: :delete, class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>